:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-color: #2196F3;
    --body-background-color: #FFFFFF;
    --logo-black-color: #000000;
    --footor-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --footer-info-color: rgba(255, 255, 255, 0.6);
    --primary-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --secondary-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --card-border-color: 1px solid #EEEEEE;
    --icon-color: #AFB1B8;
    --icon-background-color: rgba(255, 255, 255, 0.1);
    --header-border-color: 1px solid #ECECEC;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
*, 
*::before,
*::after {
    box-sizing: border-box;
}
.body {
    background-color: var(--body-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Arial', sans-serif;
 }
 .container {
     width: 1200px;
     padding: 0 15px;
     margin: 0 auto;
 }
 .link {
     text-decoration: none;
     margin-top: 0;
     margin-bottom: 0;
 }
 button {
    border: 1px solid transparent;
    color: var(--body-background-color);
    border-radius: 15px;
    background-color: var(--accent-color);
    box-shadow: var(--primary-button-shadow);
    padding: 10px 25px;
    cursor: pointer;
 }
 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;
 }
 
 .first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
 }
 .second-section {
    margin-top: 150px;
    margin-bottom: 150px;
 }
 .section-text {
    max-width: 500px;

    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.03em;
 }
.footer-container {
    border-top: 1px solid var(--footor-background-color);
}
.accent-text {
    font-weight: bold;
}
/* modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 528px;
    min-height: 581px;
    background: var(--body-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    opacity: 1;
    transition: transform 250ms var(--timing-function);
  }
  .close-button {
    fill: var(--logo-black-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  
    background: var(--body-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 6px;
  }
  .modal > .close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
  }
  .icon-close {
    fill: var(--logo-black-color);
    transition: fill 250ms var(--timing-function);
  }
  .icon-close:hover,
  .icon-close:focus {
    fill: var(--accent-color);
  }
  .modal-title {
    margin: 0;
    font-weight: 700;
    margin-bottom: 12px;
  
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

    /* Modal-form */
    .modal-form {
        width: 448px;
        height: 342px;
        flex-direction: column;
        position: relative;
      }
      .form-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
      }
      .form-field:not(:last-child) {
        margin-bottom: 10px;
      }
      .form-field-title {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--paragraph-text-color);
        padding-bottom: 4px;
      }
      .form-field-input {
        display: flex;
        padding: 0 20px 0 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        height: 40px;
        width: 448px;
        outline: none;
        transition: border-color 250ms var(--timing-function);
      }
      .form-field-input:hover,
      .form-field-input:focus {
        border-color: var(--accent-color);
      }
      .overlay-modal {
        display: inline-block;
        position: absolute;
        top: 30px;
        left: 15px;
        fill: var(--primary-text-color);
        transition: fill 250ms var(--timing-function);
      }
      .form-field-input:focus ~ .overlay-modal,
      .form-field-input:hover ~ .overlay-modal {
        fill: var(--accent-color);
      }
      .form-field-comment {
        margin-bottom: 20px;
      }
      .commentarea {
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        height: 120px;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        width: 100%;
        outline: none;
        color: rgba(117, 117, 117, 0.5);
        transition: border-color 250ms var(--timing-function);
      }
      .commentarea:hover,
      .commentarea:focus {
        border-color: var(--accent-color);
      }
